.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.color-black {
  color: black;
}

.imgHeight{
  height: 50px;
  float: left;
  border: 1px solid black;
}
